.signin{
    background-color: #118B91;
}
.cart{
    background-color: #F16A4F;
}
.product{
    background-image: linear-gradient(#46b99c, #b3ffec)
}
.budspro{
    background: linear-gradient(to left, #ec8282,
        #b0f8ed);
}